.main-teacher {
  .title {
    font: normal bold 25px/31px 'UTM BryantLG';
    color: $text_card_color;
  }

  .name {
    font: normal bold 18px/22px 'UTM BryantLG';
    color: $text_card_color;
  }

  .name-intro {
    font: normal 14px/17px 'UTM BryantLG';
    color: #BDB9B9;
  }
}

.soical {
  img {
    border-radius: 20px;
    @include sizeImage(20px, 20px);
  }
}

.google .slack {
  border: 0.5px solid #F44336;
}

.facebook {
  border: 0.5px solid #1976D2;
}

.teacher-intro {
  font: normal 18px/26px 'UTM BryantLG';
  color: #949292;
}